/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 16, 2018, 11:18:54 PM
    Author     : Saleh
*/
.card{
    margin-top: 10px;
}

.card-header{
    padding: 0.3rem 1.25rem;
}

.card-header.thread{
    padding: 0.75rem 1.25rem;
    background-color: rgba(187, 156, 81, 0.41);
    font-weight: bold;
}

.threadby{
    color: #6633ff;
}

.thread-reply-form{
    padding: 10px;
}

.div-left {
    text-align: left; 
    margin: auto;
    width: 610px;
}

@media only screen and (max-width: 960px) {
    .div-left{
        with: 445px;
    }
}

.menu-channels-link{
    padding: .3rem .9rem .3rem .0rem;
    color: #191919;
    font-size: 1rem;
}

.navbar-brand{
    font-size: 1rem;
}

.errors-create-thread{
    margin-top: 15px;
}

.pagination{
    margin: 0 auto;
    width: 50%;
}

.level{
    display: flex;
    align-items: center;
}

.flex{
    flex: 1;
}

span.btn-span{
    color: #007bff;
    cursor:pointer;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

span.btn-span:focus {
    outline: -webkit-focus-ring-color auto 5px;
}

span.btn-span:hover {
    color: #0056b3;
    text-decoration: underline;
}

.redirect-alert{
    position: fixed;
    right: 35px;
    bottom: 57px;
}