/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 16, 2018, 11:18:54 PM
    Author     : Saleh
*/
.card{
    margin-top: 10px;
}

.card-header{
    padding: 0.3rem 1.25rem;
}

.card-header.thread{
    padding: 0.75rem 1.25rem;
    background-color: rgba(187, 156, 81, 0.41);
    font-weight: bold;
}

.threadby{
    color: cornsilk;
}

.thread-reply-form{
    padding: 10px;
}